<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 style="
    text-align: center;
    font-family: Arial, Helvetica;
">
        Confirmar tu cuenta
    </h1>


    <p style="font-family: Arial, Helvetica;">Hola, <span style="text-transform:capitalize"><%=nombre %></span>, estas a un paso de formar parte de nuestro portal de renta y venta de Inmuebles BienesRaices.com, solo debes confirmar tu cuenta en el siguiente enlace:</p>

    <a style="
    display: block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color:#4f46e5d9;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
"
       href="<%=url %>">Confirmar tu cuenta</a>

    <p style="font-family: Arial, Helvetica;">Sino puedes acceder a este enlace, visita : <%=url %></p>
    <p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail puede ignorarlo</p>
</body>
</html>